* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(33, 33, 33);
  font-family: "Poppins" sans-serif;
  color: white;
}

#container {
  width: 100%;
  height: 100vh;
  font-family: "Poppins" sans-serif;
}

.head-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main-box {
  width: 100px;
  height: 100vh;
  padding: 10px;
  background-color: rgba(33, 33, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo-box {
  width: 100%;
  height: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(138, 192, 136);
  color: aliceblue;
  text-decoration: none;
}

.logo > span {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  padding: 3px;
  background-color: aliceblue;
}

/*Styling for the dashboard images/icon*/

.main-box > .menu-box > section > a > img {
  width: 20px;
  height: 20px;
  transition: all 850ms ease-in-out;
}

.main-box > .menu-box > section > a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.85s ease-in-out;
}

.main-box > .menu-box > section > a:hover {
  background-color: rgb(138, 192, 136);
}

/*Styling for the dashboard icons*/
.log-out-box > a {
  width: 15px;
  height: 15px;
}

.log-out-box > a > img {
  width: 100%;
  height: 100%;
}

/*menu-box styling*/
.menu-box {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  gap: 20px;
}

/*log or sign-out box*/

.log-out-box {
  width: 100%;
  height: 30%;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
}

/*card-box*/
.mainCardWrapper {
  width: 100%;
  height: 100vh;
}

.mainCard {
  width: 100%;
  height: 70vh;
  position: relative;
  margin-bottom: 30px;
  border-radius: 20px;
}

.mainCard > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-line-box {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

.image-line-box > div {
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background-color: aliceblue;
}

.mainCard > div.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(50, 48, 48, 0.95) 40%,
    rgba(0, 0, 0, 0.5)
  );
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 22px;
  border-radius: 15px;
}

.overlay-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Poppins", sans-serif;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
}

.title > h1 {
  font-size: 36pt;
  font-variant: small-caps;
}

.title > img {
  width: 50px;
  height: 50px;
}

/*movie's information style*/
.movie-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.movie-info > .movie-rate {
  background: rgb(33, 33, 33);
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}

.movie-info > .imdbRating {
  width: fit-content;
  border: 1px dotted;
  padding: 5px;
  border-radius: 5px;
}

.movie-actors {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.watch {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 600;
  background-color: rgb(138, 192, 136);
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

/*Now playing movie*/

.now-playing-movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.now-playing-movie-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.now-playing-movie-box p,
.now-playing-movie-box h4 {
  font-size: 14px;
  color: aliceblue;
}

/*popular movie styling*/

.popular-movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.popular-movie-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

@media screen and (max-width: 440px) {
  .head-section {
    padding-right: 50px;
  }
  .main-box {
    width: 50px;
  }

  .overlay-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: "Poppins", sans-serif;
  }

  /*logo box*/

  .logo-box {
    width: 100%;
    height: 30%;
    padding: 0px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid;
  }

  .logo {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(138, 192, 136);
    color: aliceblue;
    text-decoration: none;
  }

  .logo > span {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    padding: 3px;
    background-color: aliceblue;
  }

  /*main card wrapper*/
  .mainCardWrapper {
    margin-top: 20px;
  }

  .title {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .title > h1 {
    font-size: 23pt;
    font-variant: small-caps;
  }

  .title > img {
    width: 50px;
    height: 50px;
  }

  /*movie's information style*/
  .movie-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .movie-info > .popularity,
  .movie-info > .movie-year {
    width: fit-content;
    background: rgb(33, 33, 33);
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 12px;
  }

  .movie-info > .imdbRating {
    width: fit-content;
    border: 1px dotted;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
  }

  .movie-plot > p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
